.navbar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}
.categories {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.categories__popular {
  border: 2px solid green;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  margin: 0px 7px;
  cursor: pointer;
  font-size: clamp(0.7rem, 4vw, 1.15rem);
  white-space: nowrap;
}
.navbar__search {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  width: clamp(14rem, 50vw, 30rem);
}
.navbar__input {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid white;
  padding: 10px 0px 10px 40px;
  border-radius: 7px;
  background-color: white;
  font-size: 14px;
  color: black;
  font-family: "Lato", sans-serif;
}
.navbar__icon {
  font-size: 25px;
  left: 10px;
  margin-top: 7px;
  color: black;
  display: flex;
  position: absolute;
  cursor: text;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 900px) {
  .movies {
    padding: 10px;
  }
  .navbar {
    flex-direction: column;
    justify-content: center;
  }
  .navbar__search {
    margin: 0 auto;
    margin-top: 10px;
  }
}
