.movieOverview__wrapper {
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  will-change: scroll-position;
}
.movieOverview {
  width: 500px;
  height: 700px;
  border-radius: 10px;
  background-color: #17171a;
  z-index: 12;
  position: relative;
  overflow-y: auto;
}
.movieOverview__iconDiv {
  position: absolute;
  display: flex;
  cursor: pointer;
  right: 10px;
  top: 10px;
}
.movieOverview__iconDiv__icon {
  display: flex;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
}
.movieOverview__img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.movieOverview__details {
  background-color: #17171a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
