.movieOverview__wrapper {
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  will-change: scroll-position;
}
.movieOverview {
  max-width: 90vw;
  width: 700px;
  height: 800px;
  max-height: 90vh;
  border-radius: 10px;
  background-color: #17171a;
  z-index: 12;
  position: relative;
  overflow-y: auto;
}
.movieOverview__iconDiv {
  position: absolute;
  display: flex;
  cursor: pointer;
  right: 10px;
  top: 10px;
}
.movieOverview__iconDiv__icon {
  display: flex;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
}
.movieOverview__img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.movieOverview__details {
  background-color: #17171a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.details {
  font-size: 1.1rem;
  padding: 0px 25px;
  justify-content: center;
}
.details__title {
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 10px 0px 20px;
}
.details__rating {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.3rem;
}
.details__vote_average,
.details__vote_average--bad {
  color: lightgreen;
  font-weight: 400;
}
.details__vote_average--bad {
  color: red;
}
.details__release_date {
  margin-bottom: 10px;
}
.details__overview,
.details__movieGenres,
.details__cast {
  margin-bottom: 20px;
}
