.movie {
  width: clamp(150px, 18vw, 250px);
  margin: clamp(5px, 2vw, 15px);
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  background-color: #0f171e;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.5, 0, 0.1, 1);
}
.movie:hover {
  transition: all 0.45s 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  transform: scale(1.2, 1.2);
  z-index: 10;
}
.movie__img {
  max-width: 100%;
}
.movie__vote_average,
.movie__vote_average--bad {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(3, 133, 3);
  padding: 3px;
  border-radius: 3px;
  min-width: 30px;
  justify-content: center;
  display: flex;
  font-size: 1.1rem;
}
.movie__vote_average--bad {
  background-color: rgb(234, 57, 67);
}
.movie__info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 5px 0px;
}
