@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: clamp(15rem, 50vw, 33rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-bottom: 10px;
}

.navbar__search {
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid white;
  padding: 10px 0px 10px 40px;
  border-radius: 7px;
  background-color: white;
  font-size: 14px;
  color: black;
  font-family: "Lato", sans-serif;
}

.navbar__icon {
  font-size: 25px;
  left: 10px;
  margin-top: 7px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  cursor: text;
}

.movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 11px;
}

.movies--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 19px;
}

.movie {
  width: 250px;
  margin: 15px;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  background-color: #0f171e;
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  transition: all 0.3s cubic-bezier(0.5, 0, 0.1, 1);
}

.movie:hover {
  -webkit-transition: all 0.45s 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  transition: all 0.45s 0.3s cubic-bezier(0.5, 0, 0.1, 1);
  -webkit-transform: scale(1.3, 1.3);
          transform: scale(1.3, 1.3);
  z-index: 10;
}

.movie__img {
  max-width: 100%;
}

.movie__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movieOverview__wrapper {
  position: fixed;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  will-change: scroll-position;
}

.movieOverview {
  width: 500px;
  height: 700px;
  border-radius: 10px;
  background-color: #17171a;
  z-index: 12;
  position: relative;
  overflow-y: auto;
}

.movieOverview__iconDiv {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  right: 10px;
  top: 10px;
}

.movieOverview__iconDiv__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
}

.movieOverview__img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.movieOverview__details {
  background-color: #17171a;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #17171a;
  color: white;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(#222531 0%, rgba(34, 37, 49, 0) 413px);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #382929;
  border: 0px none #ffffff;
  border-radius: 65px;
}

::-webkit-scrollbar-thumb:hover {
  background: #382929;
}

::-webkit-scrollbar-thumb:active {
  background: #382929;
}

::-webkit-scrollbar-track {
  background: #554141;
  border: 0px none #ffffff;
  border-radius: 21px;
}

::-webkit-scrollbar-track:hover {
  background: #554141;
}

::-webkit-scrollbar-track:active {
  background: #554141;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
/*# sourceMappingURL=index.css.map */